.post-card {
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.75rem;
  margin-bottom: 1rem;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 125ms ease-in-out;

  &:hover {
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
  }

  &__content {
    flex: 1;
    padding-right: 1rem;
  }

  &__header {
    display: flex;
    font-size: 0.85rem;
  }

  &__title {
    margin: 0.3rem 0 0.4rem 0;

    .title {
      font-size: 1.25rem;

      a {
        display: block;

        &:hover {
        }
      }
    }
  }

  &__footer {
    font-size: 0.85rem;
    &__item {
      margin-right: 12px;

      &:after {
        content: '·';
        font-weight: 700;
        position: relative;
        top: 1px;
        left: 6px;
      }

      &:last-child {
        &:after {
          content: '';
        }
      }

      .icon {
        margin-left: 0.25rem;
      }
    }
  }

  &__img {
    display: flex;
    align-items: center;
    max-width: 90px;
    min-width: 90px;

    img {
      border-radius: 0.25rem;
    }
  }
}

.post-category {
  margin-right: 12px;

  &:after {
    content: '·';
    font-weight: 700;
    position: relative;
    top: 1px;
    left: 6px;
  }
}

.post-tag {
  display: flex;

  &__item {
    margin-right: 0.5rem;

    &:after {
      content: ',';
    }

    &:last-child {
      &:after {
        content: '';
      }
    }
  }
}
