// Layout
.app__sidebar {
  .sidebar {
    background: var(--sidebar-bg-color);
  }
}

.app__content {
  background: var(--bg-color);
}

// AppHeader
.app__header {
  .navbar {
    // &:after {
    //   background-color: var(--basic);
    // }

    .theme-switch {
      color: var(--font-color);
    }
  }
}

// PostCard
.post-card {
  background: var(--card-bg-color);

  &:hover {
    background: var(--card-bg-hover-color);
  }

  &__title {
    a {
      color: var(--font-color);

      &:hover {
        color: var(--primary-color);
      }
    }
  }

  &__footer {
    &__item {
      color: var(--card-footer-color);

      &:after {
        color: var(--font-secondary-color);
      }
    }

    .icon {
      color: var(--font-secondary-color);
    }
  }
}

.post-category {
  color: var(--font-color);

  &:after {
    color: var(--font-secondary-color);
  }

  &:hover {
    color: var(--primary-color);
  }
}

.post-tag {
  color: var(--card-tag-color);
}

// PostShow
.post {
  background-color: var(--post-body-bg-color);

  &__header {
    background-color: var(--post-header-bg-color);
    border-bottom: 2px solid var(--basic);
  }

  &__body {
    color: var(--font-color);
  }

  &__footer {
    background-color: var(--post-footer-bg-color);

    .button {
      color: var(--font-secondary-color);
      &:hover {
        color: var(--font-color);
      }
    }
  }
}

.rating-box {
  color: var(--font-color);

  &__value {
    background-color: var(--rating-box-bg-color);
  }

  .button {
    color: var(--font-color-opcity-5);
    background-color: var(--rating-box-bg-color);

    &:hover {
      background-color: var(--rating-box-hover-bg-color);
      color: var(--primary-color);
    }
  }
}

.post-details {
  h2 {
    color: var(--font-color);
  }

  &__info {
    color: var(--post-header-info-color);

    .post-tag {
      color: var(--post-header-info-color);
    }

    .rating-hot,
    .post-tag {
      &:after {
        color: var(--font-color-opcity-5);
      }
    }
  }
}

.author-info {
  color: var(--font-color-opcity-8);

  &:hover {
    color: var(--primary-color);
  }
}

// PostFilter
.post-filter {
  .button {
    background-color: var(--filter-button-bg-color);
    border-color: var(--filter-button-border-color);
    color: var(--font-color);

    &:hover {
      background-color: var(--filter-button-bg-hover-color);
      border-color: var(--filter-button-bg-hover-color);
    }
  }

  .select {
    select {
      background-color: var(--filter-select-bg-color);
      border-color: var(--filter-select-border-color);
      color: var(--font-color);

      &:focus {
        border-color: var(--filter-select-focus-color);
        box-shadow: none;
      }
    }
    &:not(.is-multiple):not(.is-loading)::after {
      border-color: var(--font-color);
    }

    &:not(.is-multiple):not(.is-loading):hover::after {
      border-color: var(--primary-color);
    }
  }
}

// PostForm
.form-section {
  background-color: var(--card-bg-color);

  .field {
    .label {
      color: var(--font-color-opcity-8);
    }

    .select {
      select {
        background-color: var(--form-select-bg-color);
        border-color: var(--filter-select-border-color);
        color: var(--font-color);

        &:focus {
          border-color: var(--filter-select-focus-color);
          box-shadow: none;
        }

        &:hover {
          border-color: var(--form-select-border-hover-color);
        }
      }

      &:not(.is-multiple):not(.is-loading)::after {
        border-color: var(--font-color);
      }

      &:not(.is-multiple):not(.is-loading):hover::after {
        border-color: var(--primary-color);
      }
    }

    .control {
      .input,
      .textarea {
        background-color: var(--form-input-bg-color);
        border-color: var(--form-input-border-color);
        color: var(--font-color);

        &:hover {
          border-color: var(--form-select-border-hover-color);
        }

        &:focus {
          box-shadow: none;
          border-color: var(--form-select-border-hover-color);
        }

        &::placeholder {
          color: var(--font-color-opcity-5);
        }
      }
    }

    .taginput.control {
      .is-focusable {
        box-shadow: none;
        background-color: var(--form-input-bg-color);
        border-color: var(--form-input-border-color);
        color: var(--font-color);

        &:focus {
          box-shadow: none;
          border-color: var(--form-select-border-hover-color);
        }
      }

      .tag:not(body) {
        background-color: var(--taginput-tag-bg-color);
        color: var(--font-color);
      }

      .delete {
        background-color: var(--taginput-delete-bg-color);
        color: var(--font-color);

        &:hover {
          background-color: var(--taginput-delete-bg-hover-color);
        }
      }

      .control.has-icons-left {
        .icon {
          color: var(--font-color-opcity-5);
        }

        .input::placeholder {
          color: var(--font-color-opcity-5);
        }

        .input:focus ~ .icon {
          color: var(--font-color-opcity-8);
        }
      }
    }
  }
}

// Section
.section {
  .title {
    color: var(--font-color-opcity-8);
  }
}
